# requirements for the execution of packaging.
#container requirements
pytest
mock
bump2version
flake8
pylint
black


# to be removed : runtime requirements
aiohttp==3.8.1
aiohttp-cors==0.7.0
bleach==4.1.0
ldap3==2.9.1
miracle-acl==0.0.4.post1
PyYAML==5.1.2
requests==2.22.0


gd_node==1.0.1.0